<footer class="footer">
    <div class="footer-top">
      <p>2025 -
        TODOS OS DIREITOS RESERVADOS
      </p>
    </div>
    <hr>
    <div class="footer-columns">
      <div class="footer-column">
        <h4>Integrantes </h4>
        Ana Cardoso <br>
        Lucas Netto  <br>
        Maria Brito  <br>
        Thiago Martins 
      </div>
      <div class="footer-column">
        <h4>Orientadores</h4>
        Ricardo Correa <br>
        Marcio Denadai
      </div>
      <div class="footer-column">
        <h4>A empresa</h4>
        SENAI SUMARÉ <Br>
        "Dr. Celso Charuri"
      </div>
     
      <div class="footer-column">
        <h4>Objetivo</h4>
        Implementação de funcionalidades em 
        código base do Blog SQLite com Nodejs + Express
      </div>
    </div>
  </footer>
  
