<header>
  <% console.log(req.session)%>
  
    <nav>
    <a href="/">Inicial</a>
    <a href="/sobre">Sobre</a>

    <% if (!req.session.loggedin) { %>
    <a href="/cadastro">cadastro</a>
    <a href="/login">Login</a>
    <% } else { %>
    <% if (req.session.adm){ %>
    <a href="/dashboard">Dashboard </a>
    <%} %>
    <a href="/post_create">Criar postagem</a>
    <a href="/logout">Logout</a>
    <% } %>
  </nav>
</header>