<% console.log(JSON.stringify(dados)) %>
<center>
<table border="1px">
    <thead>
        <tr>
            <td>ID</td>
            <td>Username</td>
            <td>Senha</td>

        </tr>
    </thead>
    <tbody>
        <% let i;for(i = 0;i< dados.length; i++) { %>
        <tr>
            <td><%= dados[i].id %></td>
            <td><%= dados[i].username %></td>
            <td><%= dados[i].password %></td>
        </tr>
        <% } %>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Quantidade de registros: <%= dados.length %></td>
        </tr>
    </tfoot>
</table>
</center>