<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario j치 cadastro</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <center>
        <br>
        <h2 class="titulo-index">Usu치rio cadastrado com sucesso 游때</h2><br>
        <a href="/login"><button type="submit">LOGIN</button></a>
        <%- include("../partials/footer") %>
</body>
</html>
=======
<%- include('../partials/head') %>

<h1>Cadastro realizado com sucesso!</h1>
<p>Seu usu치rio foi cadastrado com sucesso.</p>
<a href="/login">Clique aqui para fazer login</a>

<%- include('../partials/footer') %>
>>>>>>> ab63cf34b937827813e664a6990811a1a24a2d6a
