<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../partials/head") %>
<body>
  <%- include("../partials/menu") %>

  <div class="page-box">
    <h1>Cadastre-se</h1>
    <main>
      <form action="/cadastro" method="POST" class="formItens">
        <input type="text" name="username" id="username" placeholder="Digite seu nome de usuário" required>
        <input type="password" name="password" id="senha" placeholder="Digite sua senha" required>
        <button type="submit">CADASTRAR</button>
        <a href="/login" style="text-decoration: none;" class="button-link">Já tenho cadastro</a> 
      </form>
    </main>
  </div>

  <%- include("../partials/footer") %>
</body>
</html>
