<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
<main>
    <%- include("../partials/usertable") %>
</main>
    <%- include ("../partials/footer") %>
    <%- include ("../partials/menu") %>
</body>
</html>