<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body><center>
<main>
    <%- include("../partials/usertable") %>
</main></center>
    <%- include ("../partials/footer") %>
    <%- include ("../partials/menu") %>
</body>
</html>