<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <br>
    <img src='./static/senai.png' width="150"/>

    você está na página inicial
    <br>
    <br>
    <div class="button-group">
        <br>
    <a href="/sobre" class="button-link">Sobre</a>
    <a href="/cadastro" class="button-link">Cadastro</a>

</div> <br> <br> <br>
    
    <%- include ("../partials/footer") %>
    <%- include ("../partials/menu") %>

</body>
</html>
</html>
