<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>

    Página inicial
    <br>
    <img src='./static/OIP.jfif'/>


    <a href="/sobre">Sobre</a>

    <%- include ("../partials/footer") %>
    <%- include ("../partials/menu") %>

</body>
</html>
</html>
