<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
     Página de Login
    <main>
        <form action="/login" method="post" class="formItens">
            Seu nome:
            <input type="text" name="username" id="username" placeholder="Digite seu nome de usuário"><br>
            Senha:
            <input type="password" name="password" id="senha" placeholder="Digite sua senha"><br>
            <button type="submit">Entrar</button>
        </form>
    </main>
    <a href="/dashboard">dashboard</a>

    <%- include ("../partials/footer") %>
    <%- include ("../partials/menu") %>
    
</body>
</html>