<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
<br><BR><br>
<BR><br><BR><br>
<BR><br><BR><br>
<BR><br><BR>
<br><BR><br>
<BR><br><BR>
<br><BR><br>
<BR><br>
<BR><br><BR>
<br><BR><br>
<BR><br>
<BR><br>
<BR><br><BR>
    <h1>SOBRE</h1>
    <main>
        <div class="sobre-container">
            <img src="/static/sobre.jpg" width="150" alt="Imagem sobre o projeto"/>
            
            <div class="sobre-texto">
                <p><strong>Unidade curricular:</strong> Programação Back-end</p>
                <p><strong>Objetivo:</strong> Implementação de funcionalidades em código base do Blog SQLite com Nodejs + Express.</p>
                <p><strong>Critérios de avaliação </strong> Desenvolvimento de projeto de blog. Esperado a autenticação de usuários, criação e visualização de postagens, tratamento de erros, validação de dados e organização do código. Além de abordar critérios opcionais, como busca, paginação e uma interface administrativa.</p>
                <p>Os critérios do documento avaliam competências socioemocionais da equipe, como autogestão, pensamento analítico, inteligência emocional e autonomia. Observando se a equipe cumpriu prazos, tomou decisões técnicas de forma independente, se manteve boa comunicação e soube adaptar-se aos desafios do projeto.</p>
            </div>
        </div>
    <br>
        <form action="/cadastro" method="post" class="formItens">
            <button type="submit">Cadastrar</button>
        </form>
    </main>
    
 
    
</div>


    <%- include ("../partials/footer") %>
    <%- include ("../partials/menu") %>
    
</body>
</html>